.vendorbutton {
    background-color: rgb(240, 83, 83); /* Green */
    border: slateblue;
    color: white;
    padding: 75px;
    text-align: center;
    text-decoration: indigo;
    display: inline-block;
    font-size: 25px;
    margin: 3px 1px;
    cursor: pointer;
    border-radius: 5px;
  }
    /* .container1{
    background-image: url('./slide-2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    } */
  